In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [5]:
_2015 = pd.read_csv('2015.csv')

In [57]:
_2016 = pd.read_csv('2016.csv')
_2016.shape

(157, 13)

In [44]:
_2017 = pd.read_csv('2017.csv')

In [43]:
_2018 = pd.read_csv('2018.csv')

In [42]:
_2019 = pd.read_csv('2019.csv')

In [25]:
_2019.loc[_2019['Country or region'] == 'Iran']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
116,117,Iran,4.548,1.1,0.842,0.785,0.305,0.27,0.125

In [26]:
_2018.loc[_2018['Country or region'] == 'Iran']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
105,106,Iran,4.707,1.059,0.771,0.691,0.459,0.282,0.129

In [28]:
_2017.loc[_2017['Country'] == 'Iran']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
107,Iran,108,4.692,4.798225,4.585775,1.156873,0.711551,0.639333,0.249323,0.387243,0.048761,1.498735

In [29]:
_2016.loc[_2016['Country'] == 'Iran']

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
104,Iran,Middle East and Northern Africa,105,4.813,4.703,4.923,1.11758,0.38857,0.64232,0.22544,0.0557,0.38538,1.99817

In [30]:
_2015.loc[_2015['Country'] == 'Iran']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
109,Iran,Middle East and Northern Africa,110,4.686,0.04449,1.0088,0.54447,0.69805,0.30033,0.05863,0.38086,1.6944

In [199]:
def compare_couuntry(years, compare_columns = None):
    result = []
    for year in years:
        data = pd.read_csv(str(year) + '.csv')
        data.columns = data.columns.str.lower()
        for column in compare_columns:
            result.append(data[column].values)
    return result

In [200]:
y = compare_couuntry([2015, 2016], ['freedom'])

In [213]:
y[0][:-1].mean() - y[1].mean()

0.05802923566878976

In [216]:
_2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [229]:
_2019.rename(columns={'GDP per capita': 'gpd_per_captia'}, inplace=True)
_2019.rename(columns={'Healthy life expectancy': 'healthy_life_expectancy'}, inplace=True)

In [219]:
_2019['Score'].describe()

count    156.000000
mean       5.407096
std        1.113120
min        2.853000
25%        4.544500
50%        5.379500
75%        6.184500
max        7.769000
Name: Score, dtype: float64

In [226]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [230]:
res = ols('Score ~ healthy_life_expectancy', data=_2019).fit()

In [231]:
sm.stats.anova_lm(res)

,df,sum_sq,mean_sq,F,PR(>F)
healthy_life_expectancy,1.0,116.808552,116.808552,239.075467,3.785454e-33
Residual,154.0,75.242003,0.488584,NaN,NaN